:root {
    /* Colors */
    --color-primary: #2C3E50;
    --color-secondary: #6C757D;
    --color-background: #FFF;
    --color-border: #E5E7EB;
    --color-warning-background: #FFF1F0;
    --color-warning-border: #FFA39E;

    /* Typography */
    --font-family-base: 'Inter', sans-serif;
    --font-weight-bold: 700;
    --font-weight-regular: 400;
    --font-style-normal: normal;
    --line-height-normal: normal;
    --font-size-base: 18px;
    --font-size-lg: 24px;
    --font-size-xl: 32px;
    --font-size-xxl: 42px;

    /* Border Radius */
    --radius-sm: 12px;
    --radius-md: 16px;
}

.content-container {
    margin: 64px 0px 128px 0px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: space-between;

    font-family: var(--font-family-base);
    align-self: stretch;

    .breadcrumb {
        color: var(--color-primary);
        font-size: var(--font-size-lg);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        line-height: normal;

        a {
            color: var(--color-secondary);
            font-size: var(--font-size-lg);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            line-height: normal;
            text-decoration: none;
        }

        ul {
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            overflow: hidden;
        }

        li {
            float: left;
        }

        li:not(:last-child)::after {
            content: "/";
            margin: 0 8px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            color: var(--color-primary);
            font-size: var(--font-size-xxl);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            line-height: normal;
        }

        .two-columns {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 48px;

            .content-blocks {
                display: flex;
                flex-direction: column;
                flex: 0.7;

                .btn-secondary {
                    width: 166px;
                }

                .card {
                    display: flex;
                    padding: 24px 32px;
                    flex-direction: column;
                    gap: 24px;
                    border-radius: 12px;
                    background: var(--color-background);
                    margin-bottom: 24px;

                    font-size: var(--font-size-base);

                    a {
                        text-decoration: none;
                    }

                    h2 {
                        color: var(--color-primary);
                        font-size: var(--font-size-xl);;
                        font-style: normal;
                        font-weight: var(--font-weight-bold);
                        line-height: 40px;
                        margin: 0px;
                    }

                    .title-block {
                        display: flex;
                        flex-direction: row;
                        gap: 12px;
                        align-items: center;
                        align-content: center;
                    }

                    .warning-block {
                        display: flex;
                        padding: 24px;
                        flex-direction: column;
                        align-items: flex-start;
                        align-self: stretch;
                        gap: 24px;

                        border-radius: 16px;
                        border: 1px solid var(--color-warning-border);
                        background: var(--color-warning-background);
                    }
                }
            }
            .toc-block {
                flex: 0.3;
                display: flex;
                padding: 32px;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
                align-self: auto;

                border-radius: 12px;
                border: 1px solid var(--color-border);
                background: var(--color-background);

                h2 {
                    color: var(--color-primary);
                    font-size: var(--font-size-lg);
                    font-style: normal;
                    font-weight: var(--font-weight-bold);
                    line-height: 32px;
                    margin: 0px;
                }

                a {
                    color: var(--color-primary);
                    font-size: var(--font-size-base);
                    font-style: normal;
                    font-weight: var(--font-weight-regular);
                    line-height: 29px;
                    text-decoration: none;
                }

                ul {
                    list-style-type: none;
                    padding: 0px;
                    margin: 0px;
                }

                li {
                    margin-bottom: 12px;
                }
            }
        }
    }
}
