.content-container {
    margin: 64px 120px 128px 120px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: space-between;

    font-family: 'Inter', sans-serif;
    align-self: stretch;

    .breadcrumb {
        color: #2C3E50;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        a {
            color: #6C757D;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
        }

        ul {
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            overflow: hidden;
        }

        li {
            float: left;
        }

        li:not(:last-child)::after {
            content: "/";
            margin: 0 8px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            color: #2C3E50;
            font-size: 42px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .two-columns {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 48px;

            .content-blocks {
                display: flex;
                flex-direction: column;
                flex: 0.7;

                .card {
                    display: flex;
                    padding: 24px 32px;
                    flex-direction: column;
                    gap: 24px;
                    border-radius: 12px;
                    background: #FFF;
                    margin-bottom: 24px;

                    font-size: 18px;

                    h2 {
                        color: #2C3E50;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 40px;
                        margin: 0px;
                    }

                    .title-block {
                        display: flex;
                        flex-direction: row;
                        gap: 12px;
                        align-items: center;
                        align-content: center;
                    }

                    .warning-block {
                        display: flex;
                        padding: 24px;
                        flex-direction: column;
                        align-items: flex-start;
                        align-self: stretch;
                        gap: 24px;

                        border-radius: 16px;
                        border: 1px solid #FFA39E;
                        background: #FFF1F0;
                    }
                }
            }
            .toc-block {
                flex: 0.3;
                display: flex;
                padding: 32px;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
                align-self: auto;

                border-radius: 12px;
                border: 1px solid #E5E7EB;
                background: #FFF;

                h2 {
                    color: #2C3E50;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                    margin: 0px;
                }

                a {
                    color: #2C3E50;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 29px;
                    text-decoration: none;
                }

                ul {
                    list-style-type: none;
                    padding: 0px;
                    margin: 0px;
                }

                li {
                    margin-bottom: 12px;
                }
            }
        }
    }
}
