.navigation-container {
    padding: 16px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 232px;
        height: 54px;
    }

    .navigation-links {
        display: flex;
        flex-direction: row;
        gap: 40px;

        a {
            color: #6C757D;
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-decoration: none;
        }

        a:hover {
            color: #D94A2A;
        }

        a.active {
            color: #D94A2A;
        }
    }
}

@media (max-width: 800px) {
    .navigation-container {
        padding: 16px;
    }

    .navigation-links {
        display: none !important;
    }
}