.tk-show-container {
    display: flex;
    flex-direction: row;
    gap: 48px;

    .tk-show-left-column {
        display: flex;
        padding: 32px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
        flex: .7;

        border-radius: 12px;
        background: #FFF;

        color: #2C3E50;
        font-family: Inter, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;

        a {
            text-decoration: none;
        }

        ul {
            list-style-type: square;
        }

        li::marker {
            color: #D94A2A;
            border-radius: 2px;
        }

        .tk-show-main-data {
            display: flex;
            flex-direction: column;
            gap: 23px;

            .tk-show-header {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .tk-show-header-title-logo {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    h3 {
                        color: #2C3E50;
                        font-family: Inter, sans-serif;
                        font-size: 48px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    img {
                        width: 48px;
                        height: 48px;
                    }
                }

                .tk-show-header-details {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    color: #2C3E50;
                    font-family: Inter, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;

                    b {
                        font-weight: 600;
                    }

                    .tk-show-header-details-list {
                        display: flex;
                        flex-direction: row;
                        gap: 24px;
                    }

                    .tk-show-header-details-tags {
                        display: flex;
                        padding: 1px 8px;
                        justify-content: center;
                        align-items: center;
                        gap: 4px;

                        border-radius: 4px;
                        background: #E5E7EB;

                        font-size: 12px;
                        font-height: 20px;
                    }
                }
            }
        }

        .tk-show-data-cards {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .tk-show-data-card {
                display: flex;
                padding: 32px;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                align-self: stretch;

                border-radius: 12px;
                border: 1px solid #E5E7EB;

                .tk-show-data-card-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 12px;

                    img {
                        width: 32px;
                        height: 32px;
                    }

                    h4 {
                        margin: 0px;
                        color: #2C3E50;
                        font-family: Inter, sans-serif;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 40px;
                    }
                }
            }
        }
    }

    .tk-show-right-column {
        display: flex;
        flex-direction: column;
        gap: 40px;
        flex: .3;

        .tk-show-start-testing-block {
            display: flex;
            padding: 32px;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            align-self: stretch;

            border-radius: 12px;
            border: 1px solid #E5E7EB;
            background: #FFF;
        }

        .tk-show-start-testing-block-title {
            color: #2C3E50;
            font-family: Inter, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
        }

        .tk-show-start-testing-block-legend {
            color: #2C3E50;
            text-align: left;

            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
        }

        .tk-show-form {
            width: 100%;
        }
    }
}