.tk-content {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.tk-extra-block {
    display: flex;
    flex: .3;
    flex-direction: column;
    gap: 40px;

    .tk-extra-card {
        display: flex;
        padding: 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;

        border-radius: 12px;
        border: 1px solid #E5E7EB;
        background: #FFF;

        .tk-extra-card-content {
            display: flex;
            flex-direction: column;
            gap: 24px;

            h3 {
                margin: 0px;
                color: #2C3E50;
                font-family: Inter, sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;
            }
        }
    }
}

.tk-main-block {
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    flex: .7;

    border-radius: 12px;
    background: #FFF;

    h1 {
        color: #2C3E50;
        font-family: Inter, sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.tk-list-container {
    font-family: Inter, sans-serif;
    display: flex;
    flex: .7;
    flex-direction: column;
    gap: 24px;

    .tk-list-card {
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        border-radius: 12px;
        border: 1px solid #E5E7EB;

        .tk-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h3 {
                margin: 0px;
                color: #2C3E50;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            img {
                display: flex;
                width: 40px;
                height: 40px;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1/1;
            }
        }

        .tk-card-content {
            gap: 16px;
            display: flex;
            flex-direction: column;

            .tk-text-block {
                color: #2C3E50;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 29px;

                display: flex;
                flex-direction: column;
                gap: 32px;

                a {
                    color: #D94A2A;
                }
            }
            .tk-meta-data {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .list {
                    display: flex;
                    flex-direction: row;
                    gap: 24px;

                    .list-item {
                        color: #2C3E50;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;

                        b {
                            font-weight: 600;
                        }
                    }

                    /*.title {*/
                    /*    color: #2C3E50;*/
                    /*    font-size: 16px;*/
                    /*    font-style: normal;*/
                    /*    font-weight: 600;*/
                    /*    line-height: 24px;*/
                    /*}*/

                    /*.value {*/
                    /*    color: #2C3E50;*/
                    /*    font-size: 16px;*/
                    /*    font-style: normal;*/
                    /*    font-weight: 400;*/
                    /*    line-height: 24px;*/
                    /*}*/
                }

                .tag {
                    display: flex;
                    padding: 1px 8px;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;

                    border-radius: 4px;
                    background: #E5E7EB;

                    color:  #2C3E50;

                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }
    }
}