apiVersion: apps/v1
kind: Deployment
metadata:
  name: inferno-app
  namespace: {{ .Values.namespace }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inferno-app
  template:
    metadata:
      labels:
        app: inferno-app
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      volumes:
        - name: examplenginx-config
          configMap:
            name: nginx-config
            items:
              - key: nginx.conf
                path: nginx.conf
      initContainers:
      - name: run-migrations
        image: {{ .Values.inferno.imageUrl }}
        imagePullPolicy: Always
        command: ["bundle", "exec", "rake", "db:migrate"]
        env:
          - name: TX_SERVER_URL
            value: {{ .Values.inferno.terminologyServer }}
        envFrom:
        - configMapRef:
            name: inferno
        - configMapRef:
            name: postgresql-configmap
        - secretRef:
            name: postgresql-secret
      containers:
      - name: inferno-app
        image: {{ .Values.inferno.imageUrl }}
        imagePullPolicy: Always
        ports:
          - containerPort: 4567
        env:
          - name: TX_SERVER_URL
            value: {{ .Values.inferno.terminologyServer }}
        envFrom:
        - configMapRef:
            name: inferno
        - configMapRef:
            name: postgresql-configmap
        - secretRef:
            name: postgresql-secret
        resources:
          requests:
            memory: "2Gi"
            cpu: "1000m"
          limits:
            memory: "4Gi"
            cpu: "2000m"
# at 512Mi and 100m CPU takes 30sec to create new session
# at 2Gi and 1000m CPU takes 9sec to create new session
      - name: nginx
        image: {{ .Values.nginx.platformImageUri }}
        imagePullPolicy: Always
        ports:
          - containerPort: 80
        volumeMounts:
          - name: examplenginx-config
            mountPath: /etc/nginx/nginx.conf
            subPath: nginx.conf
        resources:
          requests:
            memory: "32Mi"    # Actual usage: ~3Mi
            cpu: "25m"        # Actual usage: ~1m
          limits:
            memory: "64Mi"    # Nginx is very lightweight
            cpu: "50m"        # Minimal CPU needed for reverse proxy