apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-app
  namespace: {{ .Values.namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-app
  template:
    metadata:
      labels:
        app: nginx-app
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
      - name: nginx
        image: {{ .Values.nginx.platformImageUri }}
        imagePullPolicy: Always
        ports:
          - containerPort: 80