{{- if .Values.redirectIngress.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redirect-nginx
  namespace: {{ .Values.namespace }}
  labels:
    app: redirect-nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: redirect-nginx
  template:
    metadata:
      labels:
        app: redirect-nginx
      annotations:
        prometheus.io/scrape: "false"
        loki.io/scrape: "true"
        loki.io/log-type: "redirect"
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
          name: http
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d
        resources:
          requests:
            cpu: 10m
            memory: 16Mi
          limits:
            cpu: 50m
            memory: 32Mi
      volumes:
      - name: nginx-config
        configMap:
          name: redirect-nginx-config
{{- end }}
