apiVersion: apps/v1
kind: Deployment
metadata:
  name: validator-api
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: validator-api
  template:
    metadata:
      labels:
        app: validator-api
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      volumes:
      - name: igs
        emptyDir:
          sizeLimit: "10M"
      initContainers:
      - name: copy-ig
        image: {{ .Values.inferno.imageUrl }}
        imagePullPolicy: Always
        {{- if .Values.inferno.usesWrapper }}
        command: ["bash", "-c", "cp /opt/inferno/lib/inferno_platform_template/igs/*.tgz /home/igs"] # for dev/wrapper image that containers core test kit + more
        {{- else }}
        command: ["bash", "-c", "cp /opt/inferno/lib/au_core_test_kit/igs/*.tgz /home/igs"] #for prod / core image that is only test kit
        {{- end }}
        volumeMounts:
        - name: igs
          mountPath: /home/igs
      containers:
      - name: validator-api
        image: {{ .Values.inferno.validatorImageUri }}
        imagePullPolicy: Always
        ports:
        - containerPort: 3500
        env:
        - name: JAVA_TOOL_OPTIONS
          value: "-Xms512m -Xmx7g"  # Initial heap 512MB, max heap 4GB
        volumeMounts:
        - name: igs
          mountPath: /home/igs
          readOnly: true
        resources:
          requests: 
            memory: "7Gi"   
            cpu: "250m"       
          limits:
            memory: "8Gi"    # Increase from 4Gi to 6Gi
            cpu: "500m"