version: '3'
services:
  inferno_web:
    build:
      context: ./
    mem_limit: 1500m
    restart: unless-stopped
    volumes:
      - ./resources:/opt/inferno/resources
      - ./_site:/opt/inferno/_site
    depends_on:
      - validator-api
      - postgres
    env_file:
      - .env.development
    environment:
      TX_SERVER_URL: https://tx.dev.hl7.org.au/fhir
      INITIALIZE_VALIDATOR_SESSIONS: false
      POSTGRES_HOST: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: inferno
      POSTGRES_USER: postgres
  inferno_worker:
    build:
      context: ./
    command: /opt/inferno/worker.sh
    mem_limit: 2000m
    restart: unless-stopped
    volumes:
      - ./resources:/opt/inferno/resources
    depends_on:
      redis:
        condition: service_started
      postgres:
        condition: service_healthy
    environment:
      FHIR_RESOURCE_VALIDATOR_URL: http://validator-api:3500
      POSTGRES_HOST: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: inferno
      POSTGRES_USER: postgres
  postgres:
    image: postgres:16.2-alpine3.19
    mem_limit: 600m
    shm_size: 1g
    restart: always
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: inferno
  nginx:
    image: nginx
    volumes:
      - ./_site:/var/www/inferno/public/
      - ./config/nginx.conf:/etc/nginx/nginx.conf
      # - /etc/ssl/certs/inferno:/etc/ssl/certs/inferno:ro
      # to use tls on localhost for development, comment out above line and uncomment below
      - ./config/development-certs:/etc/ssl/certs/inferno:ro
    ports:
      - "80:80"
      - "443:443"
    command: [nginx, '-g', 'daemon off;']
    mem_limit: 100m
    restart: unless-stopped
    depends_on:
      - validator-api
  redis:
    image: redis
    volumes:
      - ./data/redis:/data
    command: redis-server --appendonly yes
    mem_limit: 100m
    restart: unless-stopped
  validator-api:
    image: markiantorno/validator-wrapper:1.0.68
    environment:
      SESSION_CACHE_DURATION: -1
    volumes:
      - ./lib/inferno_platform_template/igs:/home/igs
