---
layout: page
current_page: About
---

<div class="content-container">
    <div class="breadcrumb">
        Home/About
    </div>
    <div class="content" id="content">
        <h1>{{ site.custom_pages.about.title }}</h1>
        <div class="two-columns">
            <div class="content-blocks">
                {% for block in site.custom_pages.about.blocks %}
                <a class="anchor" id="{{ block.anchor }}"></a>
                <div class="card">
                    <div class="title-block">
                        <img src="{{ block.logo_path }}" width="32px" height="32px"/>
                        <h2>{{ block.title }}</h2>
                    </div>
                    {{ block.content }}
                    {% if block.warning_content %}
                    <div class="warning-block">
                        {{ block.warning_content }}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <a href="#content" class="btn btn-secondary">Return to top</a>
            </div>
            <div class="toc-block">
                <h2>On this page</h2>
                <ul>
                    {% for block in site.custom_pages.about.blocks %}
                    <li><a href="#{{ block.anchor }}">{{ block.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>