---
layout: page
current_page: About
---

<!--<div class="container-fluid mt-3">-->
<!--    <nav aria-label="breadcrumb">-->
<!--        <ol class="breadcrumb">-->
<!--            <li class="breadcrumb-item"><a href="/">Home</a></li>-->
<!--            <li class="breadcrumb-item active" aria-current="page">{{ site.custom_pages.about.breadcrumb }}</li>-->
<!--        </ol>-->
<!--    </nav>-->
<!--</div>-->

<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <nav id="toc" class="col-md-3 mt-5 bd-toc order-2" data-toggle="toc">-->
<!--      <p class="toc-header">On this page</p>-->
<!--    </nav>-->
<!--    <div class="col-md-9 order-1 mb-5" id="content">-->
<!--      <h1 class="my-3">{{ site.custom_pages.about.title }}</h1>-->
<!--      <article class="custom-page-container" id="section1">-->
<!--          {% for block in site.custom_pages.about.blocks %}-->
<!--          <div class="custom-page-container card">-->
<!--              <div class="title-block">-->
<!--                  <img src="{{ block.logo_path }}" width="32px" height="32px"/>-->
<!--                  <h2>{{ block.title }}</h2>-->
<!--              </div>-->
<!--              {{ block.content }}-->
<!--              {% if block.warning_content %}-->
<!--              <div class="custom-page-container card warning-block">-->
<!--                  {{ block.warning_content }}-->
<!--              </div>-->
<!--              {% endif %}-->
<!--          </div>-->
<!--          {% endfor %}-->
<!--      </article>-->
<!--      <a href="#content" class="btn btn-secondary">Return to top</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<style>-->
<!--  .section {-->
<!--    margin-bottom: 0;-->
<!--  }-->

<!--  .section h2 {-->
<!--    margin-top: 0;-->
<!--    scroll-margin-top: 150px;-->
<!--  }-->

<!--  #content {-->
<!--    scroll-margin-top: 150px;-->
<!--  }-->

<!--  @media (min-width: 992px) {-->
<!--    #toc {-->
<!--      position: sticky;-->
<!--      top: var(&#45;&#45;top-nav-height);-->
<!--      height: calc(50vh);-->
<!--    }-->
<!--  }-->
<!--</style>-->


<div class="content-container">
    <div class="breadcrumb">
        Home/About
    </div>
    <div class="content" id="content">
        <h1>{{ site.custom_pages.about.title }}</h1>
        <div class="two-columns">
            <div class="content-blocks">
                {% for block in site.custom_pages.about.blocks %}
                <a class="anchor" id="{{ block.anchor }}"></a>
                <div class="card">
                    <div class="title-block">
                        <img src="{{ block.logo_path }}" width="32px" height="32px"/>
                        <h2>{{ block.title }}</h2>
                    </div>
                    {{ block.content }}
                    {% if block.warning_content %}
                    <div class="warning-block">
                        {{ block.warning_content }}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <a href="#content" class="btn btn-secondary">Return to top</a>
            </div>
            <div class="toc-block">
                {% assign fragment = page.url | split: '#' | last %}
                {% assign current_group_url = page_parts[1] %}
                <h2>On this page</h2>
                <ul>
                    {% for block in site.custom_pages.about.blocks %}
                    <li><a href="#{{ block.anchor }}">{{ block.title }} // {{ page.url }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>