<footer>
    <div class="text-block">
        <h3 data-toc-skip>Contact Us</h3>
        <div>
            <p>Any technical issues or suggestions associated with this site can be submitted to HL7 Australia by email <a href="mailto:support@hl7.com.au">support@hl7.com.au</a>.</p>
            <p>AU Inferno Testing Framework related projects can be found on the <a href="https://confluence.hl7.org/spaces/HA/pages/184927329/HL7+Australia+Project+Registry" target="_blank">HL7 Australia Project Registry</a> these have been sponsored by the <a href="https://confluence.hl7.org/spaces/HAFWG/pages/184912409/HL7+Australia+FHIR+Work+Group+Home" target="_blank">HL7 Australia FHIR Workgroup</a> committee. New project proposals may be submitted as per the <a href="https://confluence.hl7.org/spaces/HA/pages/265095995/Process+Project+Proposal+Project+Scope+Statement" target="_blank">Hl7 AU Project Proposal</a> process.</p>
            <p>Discussions on the HL7 AU Inferno testing framework can be found on the Zulip channel topic: <a href="https://chat.fhir.org/#narrow/channel/179173-australia/topic/Inferno.20Test.20Kit.20feedback.20and.20queries" target="_blank">australia > Inferno Test Kit feedback and queries</a>.</p>
        </div>
    </div>
    <div class="logo-block">
        <div class="footer-logo">
            <a target="_blank" href="https://inferno-framework.github.io">
                <div class="built-with">
                    Built with
                </div>
                <img src="/assets/images/inferno_logo_white.png" width="130px">
            </a>
        </div>
    </div>
</footer>
