<footer class="py-4 mt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h4 data-toc-skip>Contact Us</h4>
        <p>For queries about the Inferno Testing Framework, the fastest way to reach the Inferno team is through the Inferno Zulip stream. Alternatively, you can email the Inferno Development Team. </p>
        <p>
          For queries regarding Inferno AU Test Kits developed by the Sparked AU FHIR Accelerator, the best starting point is the Zulip channel topic:
          <a href="https://chat.fhir.org/#narrow/channel/179173-australia/topic/Inferno.20Test.20Kit.20feedback.20and.20queries" target="_blank">australia > Inferno Test Kit feedback and queries.</a></p>
      </div>
      <div class="col-sm-4">
        <div class="footer-logo">
          <a target="_blank" href="https://inferno-framework.github.io">
            <div class="built-with">
              Built with
            </div>
            <img src="/assets/images/inferno_logo.png" width="130px">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
