<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

  <!-- Local styles -->
  <link rel="stylesheet" href="/assets/css/common.css?v={{ site.time | date:'%s' }}">
  <link rel="stylesheet" href="/assets/css/custom-page.css?v={{ site.time | date:'%s' }}">
  <link rel="stylesheet" href="/assets/css/navigation.css?v={{ site.time | date:'%s' }}">
  <link rel="stylesheet" href="/assets/css/test-kit-list.css?v={{ site.time | date:'%s' }}">

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"></script>
  <script src="/assets/scripts/vendor/bootstrap-toc-101.min.js"></script>

  <!-- Internal scripts -->
  <script src="/assets/scripts/common.js?v={{ site.time | date:'%s' }}"></script>
  <script src="/assets/scripts/session.js?v={{ site.time | date:'%s' }}"></script>
  <script src="/assets/scripts/test_kits.js?v={{ site.time | date:'%s' }}"></script>
  <script src="/assets/scripts/config.js?v={{ site.time | date:'%s' }}"></script>

  <title>{{ site.title }} {% if page.current_page %} | {{ page.current_page }} {% endif %} {% if page.title %} | {{ page.title }} {% endif %}</title>
</head>
