<section class="hero-block">
    <div class="details-block">
        <h2>{{ site.title }}</h2>
        <h3>{{ site.subtitle }}</h3>
        <span class="text">{{ site.description }}</span>
        <div class="btn-block" data-toc-skip>
            <a class="btn btn-attention" href="/test-kits">Start Testing Now</a>
            <a class="btn btn-secondary" href="https://inferno-framework.github.io" target="_blank">Learn more</a>
        </div>
    </div>
    <div class="card-block">
        {% for quick_link in site.quick_links %}
        <div class="card">
            <div class="card-title">{{ quick_link.title }}</div>
            <div class="card-text">{{ quick_link.description }}</div>
            <a class="btn btn-primary" href="{{ quick_link.link_href }}">Start testing</a>
        </div>
        {% endfor %}
    </div>
</section>

<!--<div class="container-fluid">-->
<!--    <div class="row align-items-center">-->
<!--        <div class="col-lg-7 col-md-6 align-items-center quick-links">-->
<!--            <h2 class="display-4 banner-header my-4">{{ site.title }}</h2>-->
<!--            <h3 class="font-weight-light my-4">{{ site.subtitle }}</h3>-->
<!--            <p class="lead mb-2">-->
<!--                {{ site.description }}-->
<!--            </p>-->
<!--            <div class="text-center mt-4">-->
<!--                <a href="/about" class="btn btn-outline-primary">-->
<!--                    Learn More-->
<!--                </a>-->

<!--                <a href="/test-kits" class="btn btn-primary mx-2">-->
<!--                    Start Testing Now-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->

<!--        {% if site.quick_links %}-->
<!--        <div class="col-lg-5 col-md-6 test-kit-column">-->
<!--            <div class="test-kit-section">-->
<!--                <section>-->
<!--                    {% for quick_link in site.quick_links %}-->
<!--                    <div class="test-kit">-->
<!--                        <h5>{{ quick_link.title }}</h5>-->
<!--                        <p>{{ quick_link.description }}</p>-->
<!--                        <div class="text-center mt-4">-->
<!--                            <a href="{{ quick_link.link_href }}" class="btn btn-secondary">{{ quick_link.link_text }}</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endfor %}-->
<!--                </section>-->
<!--            </div>-->
<!--        </div>-->
<!--        {% endif %}-->
<!--    </div>-->
<!--</div>-->