<section class="hero-block">
    <div class="details-block">
        <h2>{{ site.title }}</h2>
        <h3>{{ site.subtitle }}</h3>
        <span class="text">{{ site.description }}</span>
        <div class="btn-block" data-toc-skip>
            <a class="btn btn-attention" href="/test-kits">Start Testing Now</a>
            <a class="btn btn-secondary" href="https://inferno-framework.github.io" target="_blank">Learn more</a>
        </div>
    </div>
    <div class="card-block">
        {% for quick_link in site.quick_links %}
        <div class="card">
            <div class="card-title">{{ quick_link.title }}</div>
            <div class="card-text">{{ quick_link.description }}</div>
            <a class="btn btn-primary btn-wide" href="{{ quick_link.link_href }}">Start testing</a>
        </div>
        {% endfor %}
    </div>
</section>
