<div class="recent-sessions-card">
  <div class="recent-sessions-card-header">
    <div class="recent-sessions-card-header-title">
        <img src="/assets/images/history.svg" />
        <span>Recent Sessions</span>
    </div>
    <a href="#" id="clear-sessions" title="Clear sessions" onclick="clearSessions()">
      Clear
    </a>
  </div>
  <ul class="list-group list-group-flush" id="sessions-container"></ul>
  <div class="recent-sessions-card-body" id="empty-sessions">
    No recent test sessions have been run from this browser
  </div>
</div>
