{{- if .Values.redirectIngress.enabled }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: inferno-redirect-route
  namespace: {{ .Values.namespace }}
spec:
  parentRefs:
    - name: main-gateway
      namespace: default
  hostnames:
    {{- range .Values.redirectIngress.hostnames }}
    - {{ . | quote }}
    {{- end }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: redirect-nginx
          port: 80
{{- end }}
