# 'Inferno Platform Template' is only intended as a placeholder
# Replace the following content with relevant information about this
# installation of Inferno

title: Inferno on hl7.org.au
subtitle: HL7® FHIR® reference testing for HL7 Australia FHIR Implementation Guides using the Inferno testing framework.
description: >
  Inferno on <a href="https://inferno.hl7.org.au">hl7.org.au</a> is a public service for running select FHIR conformance tests. This includes Inferno Test Kits to support implementation of specifications published by HL7 Australia supporting approved final and latest  development publication versions.

# Links in the navigation header.  These currently match the content in the template
# site, but you can modify the content and links here as needed.
navigation_links:
- title: Test Kits
  url: /test-kits
- title: Resources/Guidance
  url: /resources-guidance
- title: About
  url: /about
- title: License
  url: /license


# The Quick Links are provided on the main page in the first section on the right
# Use this if you would like to steer users to a specific test or set of tests.
quick_links:
  - title: AU Core Test Kit
    description: >
      Evaluate a publicly accessible FHIR server against the AU Core Responder Capability Statement using this public reference testing instance of Inferno.
    link_text: Start Testing
    link_href: '/test-kits/au-core'
  - title: AU PS Test Kit
    description: >
      Evaluate patient summary documents with respect to AU Patient Summary profiles using this public reference testing instance of Inferno.
    link_text: Start Testing
    link_href: '/test-kits/au-ps'

# This populates the dropdown on the Test Kit list page.  Future versions should
# make this more intelligent to allow it to be automatically populated based on
# tags in hosted Test Kits.
test_kit_tags: [AU]

# You can pin one or several test kits to the top of the Test Kit list page
# if you would like to draw attention to these over other Test Kits.
pinned_test_kits: [au_core_test_kit]

collections:
  events:
    sort_by: date
    output: true
  news:
    output: true
    permalink: /news/:path/
  test_kits:
    output: true
    sort_by: date
    permalink: /test-kits/:path/

features_block:
  name: "What is Inferno?"
  description: "Discover the core features and capabilities of the Inferno testing framework."
  items:
    - name: "Open Source FHIR Testing"
      description: <p>
          Inferno is an <a href="https://inferno-framework.github.io" target="_blank">open source</a> tool for creating, executing and sharing automated conformance tests for HL7 FHIR
          standards. The hl7.org.au instance hosts several tests
          created with Inferno, but Inferno is designed so anyone
          can create and host their own tests.
        </p>
    - name: "Start Testing Today"
      description: <p>
          Inferno on hl7.org.au is a public host for the <a href="/test-kits/au-core">AU Core Test Kit</a>. Browse the <a href="/test-kits">Test Kit</a> page for a list of tests that are currently available.
        </p>
    - name: "Create your own tests"
      description: <p>
          Inferno is as flexible as the FHIR standard, and tests can
          be created for each unique FHIR use-case. Visit the <a href="https://inferno-framework.github.io/docs/writing-tests" target="_blank">Inferno Framework Documentation site</a> to learn more.
        </p>
    - name: "Run your own Inferno Instance"
      description: <p>
          Inferno makes it easy to run tests on your local machine or host a testing copy behind your firewall. Inferno tests
          are packaged as Test Kits, which are stand-alone tests that are tuned to a specific IG or certification criteria.
        </p>
    - name: "Integrate with Inferno"
      description: <p>
          Inferno's user interface is powered by an open, full-
          featured API to enable integration into external tools or
          continuous integration pipelines. Learn more in the <a href="https://inferno-framework.github.io/docs" target="_blank">Inferno Framework Documentation Site</a>.
        </p>
    - name: "Additional Tools"
      description: <p>
          Comprehensive testing solutions need more than test kits. Inferno provides additional utilities, such as Reference Applications, that can be optionally composed alongside tests within Inferno Test Kits. 
        </p>

keep_files: ['.keep']
