# 'Inferno Platform Template' is only intended as a placeholder
# Replace the following content with relevant information about this
# installation of Inferno

title: Inferno on hl7.org.au
subtitle: HL7® FHIR® reference testing for HL7 Australia FHIR Implementation Guides using the Inferno testing framework.
description: >
  Inferno on <a href="https://inferno.hl7.org.au">hl7.org.au</a> is a public service for running select FHIR conformance tests. This includes Inferno Test Kits to support implementation of specifications published by HL7 Australia supporting approved final and latest  development publication versions.

# Links in the navigation header.  These currently match the content in the template
# site, but you can modify the content and links here as needed.
navigation_links:
- title: Test Kits
  url: /test-kits
- title: Resources/Guidance
  url: /resources-guidance
- title: About
  url: /about
- title: License
  url: /license


# The Quick Links are provided on the main page in the first section on the right
# Use this if you would like to steer users to a specific test or set of tests.
quick_links:
  - title: AU Core Test Kit
    description: >
      Evaluate a publicly accessible FHIR server against the AU Core Responder Capability Statement using this public reference testing instance of Inferno.
    link_text: Start Testing
    link_href: '/test-kits/au-core'
  - title: AU PS Test Kit
    description: >
      Evaluate patient summary documents with respect to AU Patient Summary profiles using this public reference testing instance of Inferno.
    link_text: Start Testing
    link_href: '/test-kits/au-ps'

# This populates the dropdown on the Test Kit list page.  Future versions should
# make this more intelligent to allow it to be automatically populated based on
# tags in hosted Test Kits.
test_kit_tags: [AU]

# You can pin one or several test kits to the top of the Test Kit list page
# if you would like to draw attention to these over other Test Kits.
pinned_test_kits: [au_core_test_kit]

collections:
  events:
    sort_by: date
    output: true
  news:
    output: true
    permalink: /news/:path/
  test_kits:
    output: true
    sort_by: date
    permalink: /test-kits/:path/

features_block:
  name: "What is Inferno?"
  description: "Discover the core features and capabilities of the Inferno testing framework."
  items:
    - name: "Open Source FHIR Testing"
      description: <p>
          Inferno is an <a href="https://inferno-framework.github.io" target="_blank">open source</a> tool for creating, executing and sharing automated conformance tests for HL7 FHIR
          standards. The hl7.org.au instance hosts several tests
          created with Inferno, but Inferno is designed so anyone
          can create and host their own tests.
        </p>
    - name: "Start Testing Today"
      description: <p>
          Inferno on hl7.org.au is a public host for the <a href="/test-kits/au-core">AU Core Test Kit</a>. Browse the <a href="/test-kits">Test Kit</a> page for a list of tests that are currently available.
        </p>
    - name: "Create your own tests"
      description: <p>
          Inferno is as flexible as the FHIR standard, and tests can
          be created for each unique FHIR use-case. Visit the <a href="https://inferno-framework.github.io/docs/writing-tests" target="_blank">Inferno Framework Documentation site</a> to learn more.
        </p>
    - name: "Run your own Inferno Instance"
      description: <p>
          Inferno makes it easy to run tests on your local machine or host a testing copy behind your firewall. Inferno tests
          are packaged as Test Kits, which are stand-alone tests that are tuned to a specific IG or certification criteria.
        </p>
    - name: "Integrate with Inferno"
      description: <p>
          Inferno's user interface is powered by an open, full-
          featured API to enable integration into external tools or
          continuous integration pipelines. Learn more in the <a href="https://inferno-framework.github.io/docs" target="_blank">Inferno Framework Documentation Site</a>.
        </p>
    - name: "Additional Tools"
      description: <p>
          Comprehensive testing solutions need more than test kits. Inferno provides additional utilities, such as Reference Applications, that can be optionally composed alongside tests within Inferno Test Kits. 
        </p>

keep_files: ['.keep']

custom_pages:
  about:
    title: About Inferno on hl7.org.au
    breadcrumb: About
    blocks:
      - title: Overview
        anchor: overview
        logo_path: /assets/images/file_copy.svg
        content: >
          <span>
            Welcome to Inferno on hl7.org.au, a public Inferno test host provided by HL7 Australia. This site provides a live demonstration environment for select HL7® FHIR® tests written using the Inferno Framework. 
          </span>
          <span>
            Inferno tests are packaged in executable Test Kits, which typically target conformance requirements specified by one or more FHIR Implementation Guides. Inferno on hl7.org.au allows users to execute tests with Inferno Test Kits. To get started testing, select the Test Kit that targets an Implementation Guide relevant to your system on the <a href="/test-kits">Test Kits</a> page.
          </span>
        warning_content: >
          <b>Important:</b>
          <span>Do not send sensitive data or Protected Health Information (PHI) to HL7 Australia Inferno test kits. This system is for testing purposes only and is not secured for sensitive information, instead use appropriate test data. Submitted testing data is periodically removed.</span>
          <span>Consider running HL7 Australia Inferno test kit open source projects locally with the Inferno framework to support secured environment testing if sensitive data testing is desired.</span>
      - title: About the Inferno Framework
        anchor: about-inferno-framework
        logo_path: /assets/images/build.svg
        content: >
          <span>
            All tests that are available on Inferno on hl7.org.au are built using the <a href="https://inferno-framework.github.io/" taget="_blank">Inferno Framework</a>, a framework for creating, executing and sharing FHIR conformance tests. If you are interested in learning how to create your own tests with the Inferno Framework, visit the <a href="https://inferno-framework.github.io/docs/" target="_blank">Inferno Framework documentation site</a>.
          </span>
      - title: Available Inferno Test Kits
        anchor: available-test-kits
        logo_path: /assets/images/science.svg
        content: >
          <span>
            This site hosts a curated set of Reference Test Kits built with Inferno for FHIR capability testing. They are designed to assist in assessing a system's conformance to a HL7 AU FHIR Implementation Guide (IG). However, these Reference Test Kits are not formalised conformance tests and are not part of any conformance certification program/activity. Visit the <a href="/test-kits">Test Kit</a> page to see which Test Kits are currently available to be run on this site. Please reach out to the team if you have built an Inferno Test Kit for a HL7 AU FHIR IG that you would like to be added to this site.
          </span>
          <span>
            For a more comprehensive list of Test Kits built using the Inferno Framework, including those not available to be executed on this site, the Inferno team maintains a list of publicly available, open source Test Kits on the <a href="https://inferno-framework.github.io/community/" target="_blank">Inferno Framework community page</a>.
          </span>
      - title: Contact the Team
        anchor: contact
        logo_path: /assets/images/group.svg
        content: >
          <span>
            For questions or issues with this site please use the <a href="https://chat.fhir.org/#narrow/channel/179173-australia/" target="_blank">#Australia FHIR Zulip channel</a>. Here there is an existing topic for <a href="https://chat.fhir.org/#narrow/channel/179173-australia/topic/Inferno.20Test.20Kit.20feedback.20and.20queries/with/524609180" target="_blank">#Inferno Test Kit feedback and queries</a>.
          </span>
          <span>
            For general questions or issues about the Inferno Testing Framework, please use the <a href="https://chat.fhir.org/#narrow/channel/179309-inferno" target="_blank">#Inferno FHIR Zulip channel</a>.
          </span>
          <span>
            Each specific Test Kit includes feedback contact details for that project and are managed.
          </span>