---
layout: page
title: Home
---

<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-lg-7 col-md-6 align-items-center quick-links">
      <h2 class="display-4 banner-header my-4">{{ site.title }}</h2>
      <h3 class="font-weight-light my-4">{{ site.subtitle }}</h3>
      <p class="lead mb-2">
        {{ site.description }}
      </p>
      <div class="text-center mt-4">
        <a href="/about" class="btn btn-outline-primary">
          Learn More
        </a>

        <a href="/test-kits" class="btn btn-primary mx-2">
          Start Testing Now
        </a>
      </div>
    </div>

    {% if site.quick_links %}
    <div class="col-lg-5 col-md-6 test-kit-column">
      <div class="test-kit-section">
        <section>
          {% for quick_link in site.quick_links %}
          <div class="test-kit">
            <h5>{{ quick_link.title }}</h5>
            <p>{{ quick_link.description }}</p>
            <div class="text-center mt-4">
              <a href="{{ quick_link.link_href }}" class="btn btn-secondary">{{ quick_link.link_text }}</a>
            </div>
          </div>
          {% endfor %}
        </section>
      </div>
    </div>
    {% endif %}
  </div>
</div>


{% if site.features %}
<section class="features-new">
      <a class="anchor" id="what-is-inferno"></a>
      {% for feature in site.features %}
      <section class="container-fluid">
            <h2>{{ feature.name }}</h2>
            <span class="sub-title">{{ feature.description }}</span>
            {% if feature.items %}
            <div class="list-block">
                <div class="row">
                    {% for item in feature.items %}
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <span class="card-title">{{ item.name }}</span>
                            <span class="card-text">{{ item.description }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
      </section>
      {% endfor %}
</section>
{% endif %}
